.options {
  display: none;        
  background: grey;     
  padding: 4px;         
}

.dropdown:hover .options {
  display: block;      
}

.options a {
  display: block;       
  padding: 5px;        
  text-decoration: none;
  color: black;
}


Step 3: Zoom image:

Html :

<img src="img1-png" class="zoomimage">

.zoomimage {
  transition: 0.5s;       
}

.zoomimage:hover {
  transform: scale(1.2);   
}
